@import url(Roboto-Black.ttf);
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
body{
    padding: 20px;
}
.selection{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 70vw;

}
.selection label{
    font-weight: 500;

}
.selection select,input{
    height: 40px;
    
}

.right,.left{
    display: flex;
    row-gap: 10px;
    flex: 6;
    flex-direction: column;
}
button{
    display: inline !important;
    width: max-content;
    padding: 10px 12px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;

}
form{
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}
h1,h2{
    text-transform: capitalize;
}

table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
    
}
td{
    text-align: center;

}
td img{
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 120px;
}
table{
    width: 70vw;
}
.prix{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 70vw;
}
